.container {
    width: 1220px;
    margin: 0 auto;
}
.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    display: flex;
}
.ul-element {
    display: flex;
    width: 601px;
    justify-content: space-between;
    margin-right: 40px; 
}
.text-block {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.consulting {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-box {
    width: 341px;
    height: 114px;
    background-color: #FFF;
    position: absolute;
    left: 22px;
    bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.team-wraper {
    display: flex;
    justify-content: space-between;
}
.team-box {
    position: relative;
    width: 1220px;
    height: 510px;
}
.team-box-2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}
.box {
    width: 386px;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.text3 {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    line-height: 37.5px;
}
.text4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.33px;
}
.text-bg-3 {
    width: 283px;
    height: 48px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.4px;
    text-align: center;
    color: #37393F;
}
.text-bg-4 {
    width: 119px;
    height: 22px;
    left: 82px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    color: #37393F;
}
.header-element {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
}
.bg-image {
    background-image: url('../images/handshake.png');
    height: 557px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box-bg-image {
    width: 511px;
    height: 270px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.play {
    width: 64.5px;
    height: 64.5px;
    background-color: #6B77E5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}